body {
	font-family: "Microsoft YaHei";
    /***font-family: "Segoe UI";***/
}

@keyframes container-animation {
    from { 
        transform: scale(0.8) ;
        opacity: 0;
        visibility: hidden;
    }
    to { 
        transform: scale(1.0);
        opacity: 1;
        visibility: visible;
    }
}

.about-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: visible;
    animation: 0.3s container-animation;
}

scrollbarvertical
{
	width: 27px;
	margin-top: 6px;
	margin-bottom: 6px;
}

/*** 范围条 ***/
scrollbarvertical slidertrack {
    margin-left: 1px;
	width: 12dp;
	background: rgba(63, 93, 120, 250); 
    border-radius: 3px;
}

/*** 范围按钮 ***/
scrollbarvertical sliderbar {
	width: 14dp;
	height: 24dp;
    background: rgba(74, 134, 189, 255);
    border-radius: 2px;
}

scrollbarvertical sliderbar:hover, scrollbarvertical slidertrack:hover + sliderbar  {
    transform: scale(1.1);
    background: rgba(74, 134, 189, 240);
}

.about-panel{
    background: rgba(34, 78, 106, 150);
    backdrop-filter: blur(5px); 
    /***border: 2px rgb(184, 184, 184); ***/
    border-radius: 0.75rem;
    width: 600px;
    max-height: 90vh;
	overflow: hidden auto;
    padding: 2rem;

    /***filter: drop-shadow(rgba(34, 78, 106, 100) 4px 4px 5px);  ***/

}

.about-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px rgba(255, 255, 255, 50);
}

.about-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;

    font-effect: outline(1px #969696);
	color: white;
}

.about-group {
    margin-bottom: 0.5rem;
    background: rgba(34, 78, 106, 50);
    /*background: rgb(184, 112, 19);*/
    display: block;
    border-radius: 3px;
    backdrop-filter: blur(15px); 
}

.about-text{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    align-items: center;
    display: block;

    font-effect: outline(1px #969696);
	color: white;
}

.option-menu-bottom-button {
    margin-top: 5px;
    display: flex;
    gap: 10px;
    justify-content: flex-end; /*** 浮动到右边***/
}

.back-btn {
    margin: 5px;
    padding: 2px 18px;
    background: rgba(109, 178, 238, 200);
    border: 1px rgba(255,255,255,70);
    color: #fff;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.3s;
    font-size: 14px;
    font-effect: outline(1px #899eb1);
    z-index: 2;
}

.back-btn:hover {
    background-color: rgba(74, 134, 189, 255);
}